<div class="cw-page">
  <div class="cw-page__header">
    <h1 class="cw-page__title">Tags</h1>
    <%= link_to "← Documents", documents_path, class: "cw-back-link" %>
  </div>

  <% if @tag_counts.empty? %>
    <p class="cw-empty">No tags yet. Add tags on a document to organise.</p>
  <% else %>
    <ul class="cw-tag-cloud">
      <% @tag_counts.each do |tag, count| %>
        <li>
          <%= link_to documents_path(tag: tag, since: "all"), class: "cw-tag-cloud__item" do %>
            <span><%= tag %></span>
            <span class="cw-tag-cloud__count"><%= count %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
